html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
	min-width: 320px;
  line-height: 120%;
 }
/*  
body {
  font-weight: 400;
  min-width: 320px;
  color: var(--color-white);
  background-color: light dark(#f1f1f1, #23272E);
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button,
input,
label {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  /* transition-duration: var(--transition-duration); */
}

h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}

.container {
  overflow: hidden;
  width: 1280px;
  max-height: 980px;
  box-sizing: border-box;
}

/* 
:focus-visible {
  outline: 2px dashed var(--color-gray-1);
  outline-offset: 2px;
  transition-duration: 0s !important;
} */
