:root {
  /* color-scheme: light dark; */
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);

  --color-gray-1: rgba(248, 248, 248, 1);
  --color-gray-2: rgba(233, 239, 255, 1);
  --color-gray-3: rgba(228, 228, 228, 1);
  --color-gray-4: rgba(183, 183, 183, 1);
  --color-gray-5: rgba(246, 246, 246, 1);
  --color-gray-6: rgba(239, 239, 239, 0.45);
  --color-gray-7: rgba(196, 196, 196, 1);
  --color-gray-8: rgba(139, 139, 139, 1);
  --color-gray-9: rgba(133, 133, 133, 1);

  --color-blue-1: rgba(64, 96, 170, 1);
  --color-blue-2: rgba(112, 135, 191, 1);


  --border: 1px solid rgba(245, 245, 245, 1);
  
  --border-radius-sm: 20px;
  --border-radius-md: 30px;
  --box-shadow: inset 0px 4px 22px 0px rgba(0, 0, 0, 0.25);

  --clip-top-right: path('M260.112 33.1475C260.112 49.716 273.544 63.1475 290.112 63.1475H292C308.569 63.1475 322 76.5789 322 93.1475V244.999C322 261.567 308.568 274.999 292 274.999H30C13.4315 274.999 0 261.568 0 244.999V30C0 13.4315 13.4315 3.26478e-07 30 0H230.112C246.681 0 260.112 13.4315 260.112 30V33.1475Z');
  --clip-top-left: path('M377 0C393.568 2.25496e-06 407 13.4307 407 29.999V201.999C407 218.568 393.569 232 377 232H30C13.4316 232 0.000263256 218.568 0 202V91.999C0 75.4305 13.4315 61.999 30 61.999H31.8779C48.4465 61.999 61.8779 48.5676 61.8779 31.999V30C61.8779 13.4315 75.3094 0 91.8779 0H377Z');

  --backdrop-filter: blur(44px);

  --transition-duration: 0.2s;
}


