.experts {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-1);
  padding: 90px 0;
}

.experts__top {
  display: flex;
  justify-content: space-between;
}

.experts__top-title {
  margin-bottom: 36px;
}

.experts__top-title span {
  color: var(--color-blue-1);
}

.experts__top-descr {
  font-size: 20px;
  font-weight: 600;
}