.experts {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-1);
  padding: 90px 0;
}

.experts__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.experts__top-title {
  margin-bottom: 36px;
}

.experts__top-title span {
  color: var(--color-blue-1);
}

.experts__top-descr {
  font-size: 20px;
  font-weight: 600;
}

.experts__top-successes {
  width: 322px;
  height: 270px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  clip-path: var(--clip-top-left);
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.experts__top-successes-title {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 12px;
}

.experts__middle {
  margin: 60px 0;
}

.experts__middle-list {
  display: flex;
  justify-content: space-between;
}

.experts__middle-item-img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.experts__middle-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 407px;
  height: 86px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  backdrop-filter: var(--backdrop-filter);
  padding: 24px;
  box-sizing: border-box;
}

.experts__bottom-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
  margin-bottom: 60px;
}

.experts__bottom-item {
  width: 407px;
  height: 520px;
  background-color: var(--color-blue-2);
  border-radius: 20px 20px 30px 30px;
  position: relative;
}

.experts__bottom-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0;
  color: var(--color-white);
  z-index: 200;
}

.experts__bottom-top p {
  padding: 4px 12px;
  box-sizing: border-box;
  background-color: var(--color-blue-1);
  border-radius: 8px;
}

.experts__bottom-top p:nth-of-type(1) {
  background: none ;
  border: 1px solid var(--color-white);
}

.experts__bottom-img {
  position: absolute;
  top: 42px;
  left: 68px;
  right: 68px;
  z-index: 100;
  width: 271px;
  height: 264px;
}

.experts__bottom-number {
  z-index: 200;
  font-weight: 700;
  font-size: 21px;
  color: var(--color-white);
  position: absolute;
  top: 266px;
  left: 18px;
}

.experts__bottom-bottom-mask {
  z-index: 200;
  position: absolute;
  top: 248px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experts__card-bg-high {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 62px;
  background: var(--color-white);
  border-radius: 30px 30px 30px 0;
  z-index: -1;
}

.experts__card-bg-low {
  position: absolute;
  top: 62px;
  left: 0;
  width: 62px;
  bottom: 0;
  background: var(--color-white);
  border-radius: 30px 0 0 30px;
  z-index: -1;
}

.experts__card-bg-curve {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 0 0, transparent 30px, var(--color-white) 30.5px);
  z-index: -1;
}

.experts__bottom-bottom-content {
  width: 227px;
  height: 201px;
}

.experts__bottom-bottom-descr {
  margin-top: 18px;
  margin-bottom: 37px;
}

.experts__bottom-bottom-metrics {
  display: flex;
  gap: 12px;
}

.experts__bottom-bottom-metric {
  width: 107.5px;
  height: 61px;
  background-color: var(--color-gray-1);
  border-radius: 8px;
  padding: 6px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
}

.experts__bottom-bottom-metric-count {
  font-size: 20px;
  font-weight: 700;
}

.experts__bottom-button {
  width: 220px;
  height: 74px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 12px;
}