.hero {
  display: flex;
  justify-content: center;
  height: 770px;
  margin-bottom: 40px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__video-wrapper {
  display: flex;
  max-width: 640px;
}

.hero__video-mask {
  position: absolute;
  top: 30px;
  z-index: 100;
  width: 640px;
  height: 838px;
  overflow: hidden;
  clip-path: path("M610 0c16.569 0 30 13.432 30 30v778c0 16.569-13.431 30-30 30H291.024c-16.568 0-30-13.431-30-30V571.297c0-16.569-13.431-30-30-30H30c-16.568 0-30-13.432-30-30v-396.97c0-16.568 13.432-30 30-30h186.767c16.568 0 30-13.431 30-30V30c0-16.568 13.431-30 30-30z");
  cursor: pointer;
}

.hero__video-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__video-preview-block {
  z-index: 400;
  position: absolute;
  top: 70px;
  left: 360px;
  right: 640px;
  bottom: 440px;
  width: 240px;
  height: 240px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .hero__video-preview-block {
    left:  calc(360px + (100vw - 1280px) / 2);
  }
}

.hero__video-preview-img {
  width: 166px;
  height: 116px;
  padding: 16px ;
  background-color: var(--color-gray-2);
  margin-bottom: auto;
  border-radius: var(--border-radius-sm);
}

.hero__video-list {
  z-index: 200;
  position: absolute;
  top: 635px;
  width: 213px;
  height: 236px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero__video-item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 68px;
  width: max-content;
  background-color: var(--color-gray-5);
  border-radius: var(--border-radius-sm);
  padding: 16px;
}

.hero__video-preview-text:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
}

.hero__video-preview-text:nth-of-type(2) {
  font-weight: 400;
  font-size: 12.7px;
}

.hero__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 640px;
  margin-left: auto;
}

.hero__info-title {
  width: 451px;
  height: 240px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-right: 110px;
}

.hero__info-title h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
}

.hero__info-title span:nth-of-type(1) {
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
  color: var(--color-blue-1);
}

.hero__info-title span:nth-of-type(2) {
  font-weight: 600;
  font-size: 20px;
}

.hero__info-content {
  column-count: 2;
  column-gap: 20px;
}

.hero__info-content > * {
  break-inside: avoid;
  margin-bottom: 20px;
}

.hero__info-action {
  width: 270px;
  height: 298px;
  padding: 32px 24px;
  box-sizing: border-box;
  background-color: var(--color-gray-6);
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--border-radius-sm);
}

.hero__info-action-title {
  margin-bottom: 12px;
  width: 222px;
}

.hero__info-action-item {
  display: flex;
  align-items: center;
}

.hero__info-action-item:nth-of-type(1) {
  margin-top: 32px;
  margin-bottom: 16px;
}

.hero__info-action-item img {
  margin-right: 12px;
}

.hero__info-price {
  box-sizing: border-box;
  width: 264px;
  height: 119px;
  padding: 24px;
  background-color: var(--color-gray-2);
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--border-radius-sm);
}

.hero__info-price-actual {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 12px;
}

.hero__info-price--strike {
  color: var(--color-gray-8);
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
}

.hero__info-button {
  width: 270px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  background-color: var(--color-blue-1);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
  font-weight: 500;
  font-size: 18px;
}

.hero__info-picture {
  width: 263px;
  height: 299px;
  background-color: var(--color-blue-2);
  border-radius: var(--border-radius-sm);
  background-image: url('../../images/photos/expert_1.webp');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}

@media (max-width: 992px) {
  .hero {
    height: auto;
    margin-bottom: 40px;
    margin-top: 24px;
  }
  
  .hero__container {
    flex-direction: column;
  }
  
  .hero__info-wrapper,
  .hero__info-content {
    display: contents;
  }
  
  .hero__info-title {
    order: 1;
    width: 100%;
    height: auto;
    margin: 0 0 24px 0;
  }
  
  .hero__info-title h1, 
  .hero__info-title span:nth-of-type(1) {
    font-size: 42px;
  }
  
  .hero__info-title span:nth-of-type(2) {
    font-size: 16px;
    margin-top: 8px;
  }
  
  .hero__video-wrapper {
    order: 2;
    width: 100%;
    max-width: 100%;
    height: 480px;
    position: relative;
    margin-bottom: 24px;
    display: block;
  }
  
  .hero__video-mask {
    --tl-w: 60px;
    --tl-h: 60px;
    --bl-w: 200px;
    --bl-h: 210px;
    --r: 20px;
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: none;
    border-radius: var(--r);
    
    -webkit-mask-image: 
      radial-gradient(circle at bottom right, #000 var(--r), transparent calc(var(--r) + 0.5px)),
      linear-gradient(#000, #000),
      linear-gradient(#000, #000),
      radial-gradient(circle at top left, transparent var(--r), #000 calc(var(--r) + 0.5px)),
      linear-gradient(#000, #000),
      linear-gradient(#000, #000),
      linear-gradient(#000, #000),
      radial-gradient(circle at bottom left, transparent var(--r), #000 calc(var(--r) + 0.5px)),
      linear-gradient(#000, #000),
      radial-gradient(circle at top right, #000 var(--r), transparent calc(var(--r) + 0.5px)),
      linear-gradient(#000, #000);
      
    -webkit-mask-size:
      var(--r) var(--r),
      calc(100% - var(--tl-w)) var(--tl-h),
      var(--tl-w) var(--r),
      var(--r) var(--r),
      calc(100% - var(--tl-w) - var(--r)) var(--r),
      100% calc(100% - var(--tl-h) - var(--bl-h) - var(--r) * 2),
      var(--bl-w) var(--r),
      var(--r) var(--r),
      calc(100% - var(--bl-w) - var(--r)) var(--r),
      var(--r) var(--r),
      calc(100% - var(--bl-w)) var(--bl-h);
      
    -webkit-mask-position:
      left calc(var(--tl-w) - var(--r)) top 0,
      left var(--tl-w) top 0,
      left 0 top var(--tl-h),
      left var(--tl-w) top var(--tl-h),
      left calc(var(--tl-w) + var(--r)) top var(--tl-h),
      left 0 top calc(var(--tl-h) + var(--r)),
      left 0 bottom var(--bl-h),
      left var(--bl-w) bottom var(--bl-h),
      left calc(var(--bl-w) + var(--r)) bottom var(--bl-h),
      left calc(var(--bl-w) - var(--r)) bottom 0,
      left var(--bl-w) bottom 0;
      
    -webkit-mask-repeat: no-repeat;
  }
  
  .hero__video-preview-block {
    top: -10px;
    right: 0;
    left: auto;
    width: 140px;
    height: 140px;
    padding: 12px;
  }
  
  .hero__video-preview-img {
    width: 100px;
    height: 70px;
    padding: 8px;
    margin-bottom: auto;
  }
  
  .hero__video-preview-text:nth-of-type(1) {
    font-size: 14px;
  }
  
  .hero__video-preview-text:nth-of-type(2) {
    font-size: 11px;
  }
  
  .hero__video-list {
    top: auto;
    bottom: -10px;
    left: -10px;
    transform: scale(0.8);
    transform-origin: bottom left;
  }
  
  .hero__info-price {
    order: 3;
    width: 100%;
    margin-bottom: 16px;
    padding: 24px;
  }
  
  .hero__info-action {
    order: 4;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .hero__info-button {
    order: 5;
    width: 100%;
  }
  
  .hero__info-picture {
    display: none;
  }
}
